<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CleanupFolders" value="C:\TMP1;C:\TMP2" />
    <!--<add key="CleanupFolders" value="C:\Program Files\CHDPOS Components\Archive;C:\ECRO\Archive;C:\Positive\Log;C:\Positive\Tra;C:\Office\Log;C:\Office\TRA;C:\Program Files\Retalix\LPE\Log;C:\Program Files\Retalix\LPE\TLog;C:\Program Files\Retalix\LPE\Import"/>-->
    <add key="FileSearchPatterns" value="*" /> <!-- options: *;*.*;*.tmp;*.log;*.bak etc. -->
    <add key="DeleteFilesOlderThanDays" value="100" />
    <add key="CheckFoldersAtSpecificTime" value="03:00:00" />
    <add key="CheckFoldersAtServiceStart" value="False" />
  </appSettings>
</configuration>
