<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="CleanupFolders" value="C:\TMP;C:\TMP2" />
        <add key="FileSearchPatterns" value="*" /><!-- options: *;*.*;*.tmp;*.log;*.bak etc. -->
        <add key="DeleteFilesOlderThanDays" value="100" />
        <add key="CheckFoldersOnceADayAtSpecificTime" value="03:00:00" />
        <add key="CheckFoldersAtServiceStart" value="False" />
        <add key="RecursiveSearch" value="False" />
        <add key="DeleteEmptyFolders" value="False" />
        <add key="LoggingEnabled" value="False"/>
    </appSettings>
</configuration>
